name: CI
on: [push, pull_request_target]
jobs:
  test:
    name: Test with ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      RUCK_DEV: "true"
      RUCK_PORT: "8080"
      ACCESS_TOKEN_GITHUB: ${{ secrets.ACCESS_TOKEN_GITHUB }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: "^1.0.0"
      - name: Make public environment variable modules
        run: ./scripts/makeEnvModules.sh
      - name: Format check
        run: deno fmt --check
      - name: Lint
        run: deno lint
